.cuadrado {
  width: 100px;
  height: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #e0e0e0;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
}
.logo {
  width: 50px;
  height: 50px;
}

.cuadrado2 {
  width: 75px;
  height: 75px;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: #f0f4fc;
  box-shadow: 10px 10px 30px #c8d4e4, -10px -10px 30px #ffffff;
}

.logo2 {
  width: 37.5px;
  height: 37.5px;
}
